<!-- Troy -  Stand in account page, used to list the account information.
This page is dyanmic and will render the currently held tickets that the user
has requested. It also provides functionality buttons to delete the account,
order more tickets and to remove tickets. -->
<%- include("partials/header")  %>
<!-- Troy - Wanqun style sheet included -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- Troy - Include Wanquns nav bar -->
<header>
  <!-- Wanqun: Navigation Bar Section Starts Here-->
	<!-- Troy - Modified the routes to be compatible with backend-->
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <ul>
      <li><h5>Wheatley</h5></li>
      <li><h3>Art Festival</h3></li>
      </ul>
    </a>
    <div class="clear"></div> <!--As I used float the right and float to left properties in the CSS file, a clear float proterpy needs to be added here just in case float will occur in some browsers. -->

    <!--Wanqun: Navigation Toggler for Mobile and Tablet Version-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nabarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Wanqun: End of Navigation Toggler for Mobile and Tablet Version-->

    <!--Wanqun: Navigation Toggler for Desktop Version Starts Here-->
    <!-- Troy - routes changed to intergrate with backend -->
    <div class="collapse navbar-collapse" id="navbarRespnsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <!--Wanqun: "Active" means the current page that user is viewing, when click to other hyperlink, it will go to the specific section automatically without scrolling-->
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about-us.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../index.html#events">Events</a>
        </li>
        <!-- Team page awaiting development
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Team</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="../index.html#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="account">My Account </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Register</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <!-- Wanqun: Navigation Toggler for Desktop Version Ends Here -->


<!-- Troy - Style included to keep content central and style buttons/table -->
<style>
.messages {
  width:50%;
  margin: 0 25%;
}
button {
  font-weight : 600;
  padding : 5px;
  font-size : 100px;
}

table {
  font-weight : 600;
  font-size : 22px;
}
</style>

</header>


<div align="center" width>
  <div class="messages">
  <%- include("partials/messages")  %>
  </div>
  <h2>Welcome to your account <%= user %>.</h2>
  <br>
  <h2>You currently have <%= tickets %> tickets.</h2>
  <br>
  <!-- Troy - Display tickets in a nested table within a form. Placing in a form
allows the table to have a POST method. This post method is used to delete any
tikcets -->
  <form class="" action="/users/deleteOrder" method="post">
    <!-- Troy - The ticket table is dynamic since a user can have, 0, 1 or 2 tickets
  a case has been made for each of these circumstances. -->
    <% if (tickets == 1) { %>
    <table border="1">
      <tr>
        <th>Ticket</th>
        <th>TicketID</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>1</td>
        <td><%=ticket1%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
    </table>
    <% } else if (tickets == 2) {%>
    <table border="1">
      <tr>
        <th>Ticket</th>
        <th>TicketID</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>1</td>
        <td><%=ticket1%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td><%=ticket2%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
    </table>
    <%}%>
</form>
<br>
<table>

</table>

<button name="button" id="ticketButton">Order tickets</button>
<br>
<br>
<h3>Got any questions?</h3>
<button name="feedback" id="submitFeedback">Feedback</button>


<br>
<br>
<!-- Troy - button to logout, which invokes the passport deserializeUser function -->
<form class="" action="/users/logout" method="post">
  <button type="submit" name="button">Log out</button>
</form>


<br>
<br>
<!-- Troy - button to delete account, which removes their account from the
database, as well as any orders they have made. users are free to make an
account with the same username. -->
<form class="" action="/users/deleteAccount" method="post">
  <button type="submit" name="button">Delete account and tickets</button>
</form>
</div>

<!-- Wanqun: Footer Section Starts Here -->

<footer class="footer">
    <div class="copy-right_text">
        <div class="footer-container">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <p class="copy_right ">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. Wheatley Art Festival <br> <a href="privacy-policy.html">Privacy Policy</a> &nbsp &#124 &nbsp <a href="terms-conditions.html">Terms & Conditions</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Wanqun: Footer Section Ends Here -->


<!-- Troy - Javascript for button to redirect user to ticket page -->
<script type="text/javascript">
    document.getElementById("ticketButton").onclick = function () {
        location.href = "/users/tickets";
    };
    document.getElementById("submitFeedback").onclick = function () {
        location.href = "/users/feedback";
    };
</script>

<%- include("partials/footer")  %>
