<%- include("partials/header")  %>

<div align="center">
  <%- include("partials/messages")  %>

  <h1>Welcome to your account <%= user %></h1>
  <h1>You currently have <%= tickets %> tickets</h1>
  <form class="" action="/users/deleteOrder" method="post">

    <% if (tickets == 1) { %>
    <table border="1">
      <tr>
        <th>Ticket</th>
        <th>TicketID</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>1</td>
        <td><%=ticket1%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
    </table>
    <% } else if (tickets == 2) {%>
    <table border="1">
      <tr>
        <th>Ticket</th>
        <th>TicketID</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td>1</td>
        <td><%=ticket1%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td><%=ticket2%></td>
        <td><button type="submit" class="btn btn-danger">X</button></td>
      </tr>
    </table>
    <%}%>
</form>
<br>
<table>

</table>

<button name="button" id="ticketButton">Order tickets</button>


<form class="" action="/users/logout" method="post">
  <button type="submit" name="button">Log out</button>
</form>
<form class="" action="/users/deleteAccount" method="post">
  <button type="submit" name="button">Delete account and tickets</button>
</form>
</div>
<script type="text/javascript">
    document.getElementById("ticketButton").onclick = function () {
        location.href = "/users/tickets";
    };
</script>

<%- include("partials/footer")  %>
